<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.chudian.mj.mapper.MessageMapper" >
  <resultMap id="BaseResultMap" type="org.chudian.mj.bean.Message" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="if_feedback" property="ifFeedback" jdbcType="INTEGER" />
    <result column="feedback_place" property="feedbackPlace" jdbcType="VARCHAR" />
    <result column="related_service" property="relatedService" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="keepword1" property="keepword1" jdbcType="VARCHAR" />
    <result column="keepword2" property="keepword2" jdbcType="VARCHAR" />
    <result column="keepword3" property="keepword3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, detail, if_feedback, feedback_place, related_service, status, keepword1, 
    keepword2, keepword3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.chudian.mj.bean.Message" >
    insert into message (id, type, detail, 
      if_feedback, feedback_place, related_service, 
      status, keepword1, keepword2, 
      keepword3)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{detail,jdbcType=VARCHAR}, 
      #{ifFeedback,jdbcType=INTEGER}, #{feedbackPlace,jdbcType=VARCHAR}, #{relatedService,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{keepword1,jdbcType=VARCHAR}, #{keepword2,jdbcType=VARCHAR}, 
      #{keepword3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.chudian.mj.bean.Message" >
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="ifFeedback != null" >
        if_feedback,
      </if>
      <if test="feedbackPlace != null" >
        feedback_place,
      </if>
      <if test="relatedService != null" >
        related_service,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="keepword1 != null" >
        keepword1,
      </if>
      <if test="keepword2 != null" >
        keepword2,
      </if>
      <if test="keepword3 != null" >
        keepword3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="ifFeedback != null" >
        #{ifFeedback,jdbcType=INTEGER},
      </if>
      <if test="feedbackPlace != null" >
        #{feedbackPlace,jdbcType=VARCHAR},
      </if>
      <if test="relatedService != null" >
        #{relatedService,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="keepword1 != null" >
        #{keepword1,jdbcType=VARCHAR},
      </if>
      <if test="keepword2 != null" >
        #{keepword2,jdbcType=VARCHAR},
      </if>
      <if test="keepword3 != null" >
        #{keepword3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.chudian.mj.bean.Message" >
    update message
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="ifFeedback != null" >
        if_feedback = #{ifFeedback,jdbcType=INTEGER},
      </if>
      <if test="feedbackPlace != null" >
        feedback_place = #{feedbackPlace,jdbcType=VARCHAR},
      </if>
      <if test="relatedService != null" >
        related_service = #{relatedService,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="keepword1 != null" >
        keepword1 = #{keepword1,jdbcType=VARCHAR},
      </if>
      <if test="keepword2 != null" >
        keepword2 = #{keepword2,jdbcType=VARCHAR},
      </if>
      <if test="keepword3 != null" >
        keepword3 = #{keepword3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.chudian.mj.bean.Message" >
    update message
    set type = #{type,jdbcType=INTEGER},
      detail = #{detail,jdbcType=VARCHAR},
      if_feedback = #{ifFeedback,jdbcType=INTEGER},
      feedback_place = #{feedbackPlace,jdbcType=VARCHAR},
      related_service = #{relatedService,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      keepword1 = #{keepword1,jdbcType=VARCHAR},
      keepword2 = #{keepword2,jdbcType=VARCHAR},
      keepword3 = #{keepword3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>