<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.chudian.mj.mapper.VideoMapper" >
  <resultMap id="BaseResultMap" type="org.chudian.mj.bean.Video" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="origin_url" property="originUrl" jdbcType="VARCHAR" />
    <result column="final_url" property="finalUrl" jdbcType="VARCHAR" />
    <result column="video_format" property="videoFormat" jdbcType="VARCHAR" />
    <result column="audio_format" property="audioFormat" jdbcType="VARCHAR" />
    <result column="upload_way" property="uploadWay" jdbcType="VARCHAR" />
    <result column="code_rate" property="codeRate" jdbcType="VARCHAR" />
    <result column="duration" property="duration" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="keepword1" property="keepword1" jdbcType="VARCHAR" />
    <result column="keepword2" property="keepword2" jdbcType="VARCHAR" />
    <result column="keepword3" property="keepword3" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, name, size, origin_url, final_url, video_format, audio_format, upload_way, 
    code_rate, duration, status, keepword1, keepword2, keepword3, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from video
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from video
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.chudian.mj.bean.Video" useGeneratedKeys="true" keyProperty="id">
    insert into video (id, user_id, name, 
      size, origin_url, final_url, 
      video_format, audio_format, upload_way, 
      code_rate, duration, status, 
      keepword1, keepword2, keepword3, 
      createtime)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{size,jdbcType=VARCHAR}, #{originUrl,jdbcType=VARCHAR}, #{finalUrl,jdbcType=VARCHAR}, 
      #{videoFormat,jdbcType=VARCHAR}, #{audioFormat,jdbcType=VARCHAR}, #{uploadWay,jdbcType=VARCHAR}, 
      #{codeRate,jdbcType=VARCHAR}, #{duration,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{keepword1,jdbcType=VARCHAR}, #{keepword2,jdbcType=VARCHAR}, #{keepword3,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.chudian.mj.bean.Video" >
    insert into video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="originUrl != null" >
        origin_url,
      </if>
      <if test="finalUrl != null" >
        final_url,
      </if>
      <if test="videoFormat != null" >
        video_format,
      </if>
      <if test="audioFormat != null" >
        audio_format,
      </if>
      <if test="uploadWay != null" >
        upload_way,
      </if>
      <if test="codeRate != null" >
        code_rate,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="keepword1 != null" >
        keepword1,
      </if>
      <if test="keepword2 != null" >
        keepword2,
      </if>
      <if test="keepword3 != null" >
        keepword3,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="originUrl != null" >
        #{originUrl,jdbcType=VARCHAR},
      </if>
      <if test="finalUrl != null" >
        #{finalUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoFormat != null" >
        #{videoFormat,jdbcType=VARCHAR},
      </if>
      <if test="audioFormat != null" >
        #{audioFormat,jdbcType=VARCHAR},
      </if>
      <if test="uploadWay != null" >
        #{uploadWay,jdbcType=VARCHAR},
      </if>
      <if test="codeRate != null" >
        #{codeRate,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="keepword1 != null" >
        #{keepword1,jdbcType=VARCHAR},
      </if>
      <if test="keepword2 != null" >
        #{keepword2,jdbcType=VARCHAR},
      </if>
      <if test="keepword3 != null" >
        #{keepword3,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.chudian.mj.bean.Video" >
    update video
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="originUrl != null" >
        origin_url = #{originUrl,jdbcType=VARCHAR},
      </if>
      <if test="finalUrl != null" >
        final_url = #{finalUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoFormat != null" >
        video_format = #{videoFormat,jdbcType=VARCHAR},
      </if>
      <if test="audioFormat != null" >
        audio_format = #{audioFormat,jdbcType=VARCHAR},
      </if>
      <if test="uploadWay != null" >
        upload_way = #{uploadWay,jdbcType=VARCHAR},
      </if>
      <if test="codeRate != null" >
        code_rate = #{codeRate,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="keepword1 != null" >
        keepword1 = #{keepword1,jdbcType=VARCHAR},
      </if>
      <if test="keepword2 != null" >
        keepword2 = #{keepword2,jdbcType=VARCHAR},
      </if>
      <if test="keepword3 != null" >
        keepword3 = #{keepword3,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.chudian.mj.bean.Video" >
    update video
    set user_id = #{userId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      origin_url = #{originUrl,jdbcType=VARCHAR},
      final_url = #{finalUrl,jdbcType=VARCHAR},
      video_format = #{videoFormat,jdbcType=VARCHAR},
      audio_format = #{audioFormat,jdbcType=VARCHAR},
      upload_way = #{uploadWay,jdbcType=VARCHAR},
      code_rate = #{codeRate,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      keepword1 = #{keepword1,jdbcType=VARCHAR},
      keepword2 = #{keepword2,jdbcType=VARCHAR},
      keepword3 = #{keepword3,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryVideos" parameterType="org.chudian.mj.common.QueryBase" resultMap="BaseResultMap">
    SELECT * FROM video 
    <include refid="where_with_condition" />  
    ORDER BY createtime DESC
    LIMIT #{firstRow}, #{maxRow}
  </select>

  <select id="queryVideosAll" parameterType="org.chudian.mj.common.QueryBase" resultType="org.chudian.mj.bean.Video">
    SELECT * FROM video
    <include refid="where_with_condition" />
    ORDER BY createtime DESC
  </select>

  <select id="countVideos" parameterType="org.chudian.mj.common.QueryBase" resultType="long">
    SELECT COUNT(id) FROM video
    <include refid="where_with_condition" />
  </select>

  <sql id="where_with_condition">
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="parameters.id != null and parameters.id != '' ">AND id = #{parameters.id}
      </if>
      <if test="parameters.userId != null and parameters.userId != '' ">AND user_id = #{parameters.userId}
      </if>
    </trim>
  </sql>
</mapper>